@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&family=Roboto+Mono:wght@400;700&display=swap');

/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #d3d3d3;
}

.container {
    width: 1082px;
    margin: 0 auto;
}

.content-heading {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 20px;
}


/* COMPONENTS */

.button-primary {
    display: inline-block;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px 20px;
    color: #000;
    background: linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
}

.button-primary:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

.button-secondary {
    width: fit-content;
    display: inline-block;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border: 1px solid #FF8F27;
    border-radius: 2px;
    padding: 16px 20px;
    color: #FF8F27;
    background: rgba(0, 0, 0, .4);
}

.button-secondary:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

label {
    font-size: 0.875rem;
}

input {
    width: 400px;
    font-size: 1rem;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #393939;
    color: #FF8F27;
}

input::placeholder {
    color: #909090;
}

input:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

input:focus {
    outline: 1px solid #FF8F27;
}

select {
    width: 434px;
    font-size: 1rem;
    padding: 12px 16px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #393939;
    color: #FF8F27;
}

select:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

select:focus {
    outline: 1px solid #FF8F27;
}

fieldset legend {
    font-size: 0.875rem;
    padding-bottom: 8px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.form-submit {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px 20px;
    color: #000;
    background: linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
}

.form-submit:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}


/* TEXT STYLES */

h1 {
    font-size: 4rem;
    line-height: 3.2rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1.125rem;
}

p {
    font-size: 1.25rem;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */

header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .9)
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-items li {
    list-style-type: none;
}

.nav-items a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #FF8F27;
}


/* HERO */

#hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('../images/bg-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-content {
    width: 50%;
    font-family: Orbitron, sans-serif;
    float: right;
}

.hero-content h1 {
    background: -webkit-linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-content h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}


/* What Awaits */

#what-awaits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 200px 0;
    background: url(../images/bg-what-awaits.jpg) no-repeat center center;
    background-size: cover;
}

.product-info .container {
    display: flex;
    align-items: center;
    gap: 140px;
}

.traveler-image {
    padding-right: 120px;
}


/* HOW IT WORKS */

#how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 200px 0;
    background: url('../images/bg-how-it-works.jpg') no-repeat center center;
    background-size: cover;
}

#how-it-works .container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.process-step {
    text-align: center;
}

.process-step img {
    padding-bottom: 24px;
}


/* CUSTOMER REVIEWS */

#customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 200px 0;
    background: url('../images/bg-customer-reviews.jpg') no-repeat center center;
    background-size: cover;
}

.review {
    background: linear-gradient(187.32deg, rgba(21, 49, 103, 0.3) 5.78%, rgba(17, 46, 101, 0.3) 49.81%, rgba(9, 21, 51, 0.3) 96.73%);
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #122A59;
}

.review-box {
    display: flex;
    gap: 24px;
    padding-top: 24px;
}

.review p {
    font-size: 1rem;
    padding-top: 16px;
}

.review h5 {
    padding-top: 16px;
}

.review hr {
    border: 1px solid #122A59;
    margin-top: 16px;
}


/* NEWSLETTER */

#newsletter {
    padding: 200px 0;
    background: url('../images/bg-newsletter.jpg') no-repeat center center;
    background-size: cover;
}

#newsletter h2 {
    padding-bottom: 120px;
}

#newsletter .container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#newsletter .form-submit {
    width: fit-content;
}


/* REGISTER */

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 120px 0;
    background: url('../images/bg-register.jpg') no-repeat center center;
    background-size: cover;
}

#register .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
}

.planet-selection {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}

.planet-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #393939;
    border-radius: 2px;
}


/* REGISTER-CONFIRMATION */

#register-confirmation {
    font-family: Orbitron, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 350px 0;
    background: url('../images/bg-request-success.jpg') no-repeat center center;
    background-size: cover;
}


/* NEWSLETTER-CONFIRMATION */

#newsletter-confirmation {
    font-family: Orbitron, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 350px 0;
    background: url('../images/bg-success-newsletter.jpg') no-repeat center center;
    background-size: cover;
}


/* FOOTER */

footer {
    padding: 40px 0;
    background-color: #000;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    gap: 24px;
}

.social-logo-container {
    height: 28px;
    width: 28px;
}

.social-instagram {
    background: url('../images/icon-instagram.svg') no-repeat center center;
}

.social-instagram:hover {
    background: url('../images/icon-instagram-hover.svg') no-repeat center center;
}

.social-twitter {
    background: url('../images/icon-twitter.svg') no-repeat center center;
}

.social-twitter:hover {
    background: url('../images/icon-twitter-hover.svg') no-repeat center center;
}

.social-facebook {
    background: url('../images/icon-facebook.svg') no-repeat center center;
}

.social-facebook:hover {
    background: url('../images/icon-facebook-hover.svg') no-repeat center center;
}