@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&family=Roboto+Mono:wght@400;700&display=swap');

/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #d3d3d3;
    padding-top: 84px;
}

.container {
    width: 1082px;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-spacer {
    padding: 200px 0;
    gap: 120px;
}

.content-heading {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 20px;
}


/* COMPONENTS */

.button-primary {
    display: inline-block;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px 20px;
    color: #000;
    background: linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
}

.button-primary:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

.button-secondary {
    width: fit-content;
    display: inline-block;
    height: 48px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border: 1px solid #FF8F27;
    border-radius: 2px;
    padding: 16px 20px;
    color: #FF8F27;
    background: rgba(0, 0, 0, .4);
}

.button-secondary:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

label {
    font-size: 0.875rem;
}

input {
    width: 400px;
    font-size: 1rem;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #393939;
    color: #FF8F27;
}

input::placeholder {
    color: #909090;
}

input:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

input:focus {
    outline: 1px solid #FF8F27;
}

select {
    width: 434px;
    font-size: 1rem;
    padding: 12px 16px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #393939;
    color: #FF8F27;
}

select:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

select:focus {
    outline: 1px solid #FF8F27;
}

fieldset legend {
    font-size: 0.875rem;
    padding-bottom: 8px;
}

.form-submit {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Orbitron, sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px 20px;
    color: #000;
    background: linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
}

.form-submit:hover {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}


/* TEXT STYLES */

h1 {
    font-family: Orbitron, sans-serif;
    font-size: 4rem;
    line-height: 3.2rem;
}

h2 {
    font-family: Orbitron, sans-serif;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1.125rem;
}

p {
    font-size: 1.25rem;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .9)
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-items li {
    list-style-type: none;
}

.nav-items a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #FF8F27;
}

.nav-items .button-primary:hover {
    text-decoration: none;
}

#check, #burger-menu {
    display: none;
}


/* HERO */

#hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 84px);
    background: url('../images/bg-hero.jpg') no-repeat center center;
    background-size: auto 100%;
}

.hero-content {
    width: 50%;
    float: right;
    padding-bottom: 56px;
}

.hero-content h1 {
    background: -webkit-linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-content h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}


/* What Awaits */

#what-awaits {
    background: url(../images/bg-what-awaits.jpg) no-repeat center center;
    background-size: auto 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.product-info .container {
    display: flex;
    align-items: center;
    gap: 140px;
}

.product-info img {
    max-width: 100%;
}

.traveler-image {
    padding-right: 120px;
}


/* HOW IT WORKS */

#how-it-works {
    background: url('../images/bg-how-it-works.jpg') no-repeat center center;
    background-size: auto 100%;
}

#how-it-works .container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.process-step {
    text-align: center;
}

.process-step img {
    padding-bottom: 24px;
}


/* CUSTOMER REVIEWS */

#customer-reviews {
    background: url('../images/bg-customer-reviews.jpg') no-repeat center center;
    background-size: auto 100%;
}

.review {
    background: linear-gradient(187.32deg, rgba(21, 49, 103, 0.3) 5.78%, rgba(17, 46, 101, 0.3) 49.81%, rgba(9, 21, 51, 0.3) 96.73%);
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #122A59;
}

.review-box {
    display: flex;
    gap: 24px;
    padding-top: 24px;
}

.review p {
    font-size: 1rem;
    padding-top: 16px;
}

.review h5 {
    padding-top: 16px;
}

.review hr {
    border: 1px solid #122A59;
    margin-top: 16px;
}


/* NEWSLETTER */

#newsletter {
    background: url('../images/bg-newsletter.jpg') no-repeat center center;
    background-size: cover
}

#newsletter h2 {
    padding-bottom: 120px;
}

#newsletter .container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#newsletter .form-submit {
    width: fit-content;
}


/* REGISTER */

#register {
    gap: 80px;
    padding: 120px 0;
    background: url('../images/bg-register.jpg') no-repeat center center;
    background-size: cover;
}

#register .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
}

.planet-selection {
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;
}

/* solution that helped me style radio buttons https://stackoverflow.com/questions/5112995/how-to-replace-radio-buttons-with-images and https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons*/

.planet-item {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.planet-item + label {
    display: flex;
    width: 100px;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #393939;
    border-radius: 2px;
}

.planet-item:hover + label {
    box-shadow: 0px 0px 18px rgba(215, 129, 0, 0.7);
}

.planet-item:checked + label {
    opacity: 1;
    outline: 1px solid #FF8F27;
    background: rgba(255, 143, 39, .1);
}


/* REGISTER-CONFIRMATION */

#register-confirmation {
    font-family: Orbitron, sans-serif;
    height: calc(100vh - 194px);
    justify-content: center;
    gap: 24px;
    background: url('../images/bg-request-success.jpg') no-repeat center center;
    background-size: cover;
}


/* NEWSLETTER-CONFIRMATION */

#newsletter-confirmation {
    font-family: Orbitron, sans-serif;
    height: calc(100vh - 194px);
    justify-content: center;
    gap: 24px;
    background: url('../images/bg-success-newsletter.jpg') no-repeat center center;
    background-size: auto 100%;
}


/* FOOTER */

footer {
    padding: 40px 0;
    background-color: #000;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    gap: 24px;
}

.social-logo-container {
    height: 28px;
    width: 28px;
}

.social-instagram {
    background: url('../images/icon-instagram.svg') no-repeat center center;
}

.social-instagram:hover {
    background: url('../images/icon-instagram-hover.svg') no-repeat center center;
}

.social-twitter {
    background: url('../images/icon-twitter.svg') no-repeat center center;
}

.social-twitter:hover {
    background: url('../images/icon-twitter-hover.svg') no-repeat center center;
}

.social-facebook {
    background: url('../images/icon-facebook.svg') no-repeat center center;
}

.social-facebook:hover {
    background: url('../images/icon-facebook-hover.svg') no-repeat center center;
}


@media screen and (max-width: 1110px) {

    .container {
        width: 90vw;
    }
}

@media screen and (max-width: 1010px) {

    .section-spacer {
        padding: 100px 0;
        gap: 100px;
    }

    .hero-content {
        float: none;
        width: fit-content;
        margin: 0 auto;
    }

    .product-info .container {
        display: flex;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .product-info .reverse-order {
        flex-direction: column-reverse;
    }

    .product-info {
        text-align: center;
    }

    .traveler-image {
        padding-right: 0;
    }

    .content-heading {
        flex-direction: column;
    }

    #how-it-works .container {
        flex-direction: column;
        width: 70%;
    }

    /* solution that helped create mobile navigation using only html/css https://www.youtube.com/watch?v=oLgtucwjVII */
    .nav-items {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .9);
        top: 80px;
        left: -100%;
        font-size: 1.25rem;
        text-align: center;
        transition: all .5s;
    }

    #burger-menu {
        display: block;
    }
    
    #check:checked ~ .nav-items {
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    
    .review-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
   
    h2 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 430px) {
   
    h1 {
        font-size: 3rem;
        line-height: 2.5rem;;
    }

    h3 {
        font-size: 1.5rem;
    }

    #hero {
        height: calc(60vh - 84px);
    }

    #newsletter .container {
        flex-direction: column;
        gap: 16px;
    }

    #newsletter input {
        width: -webkit-fill-available;
    }

    #newsletter .form-submit {
        width: -webkit-fill-available;
    }

    footer .container {
        flex-direction: column-reverse;
        gap: 16px;
    }

}
