@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&family=Roboto+Mono:wght@400;700&display=swap');

/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #d3d3d3;
}

.container {
    width: 1082px;
    margin: 0 auto;
}

.button-primary {
    font-size: 0.875rem;
    font-family: Orbitron, sans-serif;
    height: 48px;
    border-radius: 2px;
    padding: 12px 20px;
    color: #000;
    background: linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
}

h1 {
    font-size: 4rem;
    line-height: 3.2rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

header {
    background-color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-items {
    display: flex;
    gap: 3rem;
}

.nav-items li {
    list-style-type: none;
}


/* HERO */

.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('../images/bg-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-content {
    width: 50%;
    font-family: Orbitron, sans-serif;
    float: right;
}

.hero-content h1 {
    background: -webkit-linear-gradient(95.59deg, #FF8F27 12.01%, #BC5A00 96.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero-content h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}